In [44]:
# read_csv from all files in folder Zero2Heros/data/all year/
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [45]:
# list all the files the folder /Users/anatolijkekarev/Desktop/jupyter_env/Zeros2Heros/data/all year
path = '../data/some year/'
files = os.listdir(path)
files

['gen_DK_B18.csv',
 'gen_DK_B01.csv',
 'gen_DK_B16.csv',
 'gen_DK_B19.csv',
 'load_DK.csv']

In [48]:
limbo = pd.DataFrame()

def transform(x):
    # Your transformation logic here
    return pd.to_datetime(x)

def clean_data(name):
    # drop columns
    germ_data = pd.read_csv(f'../data/some year/{name}', sep=',')
    print(f'applying the clean_data function to the file: {name}')
    if name.startswith('load'):
        #rename the column 'Load' to 'quantity'
        germ_data.rename(columns={'Load':'quantity'}, inplace=True)

    germ_data = germ_data[['quantity','StartTime']]
    #germ_data = germ_data.drop(0)
    # Apply the split operation to the 'StartTime' column
    germ_data['StartTime'] = germ_data['StartTime'].apply(lambda s: s.split('+')[0])
    # Apply the transformation to the 'StartTime' column
    germ_data['StartTime'] = germ_data['StartTime'].apply(transform)
    germ_data.index = germ_data['StartTime']
    #germ_data.drop('StartTime',axis=1,inplace=True)
    germ_data['quantity'] = germ_data['quantity'].astype(int)
    germ_data.resample('1H',on='StartTime').sum()
    new_name = name.replace('.csv', '').replace('load', 'loa')
    limbo[new_name] = germ_data['quantity']
    print('data appended to limbo')

In [49]:
for file in files:
    clean_data(name = file)

applying the clean_data function to the file: gen_DK_B18.csv
data appended to limbo
applying the clean_data function to the file: gen_DK_B01.csv
data appended to limbo
applying the clean_data function to the file: gen_DK_B16.csv
data appended to limbo
applying the clean_data function to the file: gen_DK_B19.csv
data appended to limbo
applying the clean_data function to the file: load_DK.csv
data appended to limbo

In [ ]:
limbo.isna().sum()

gen_DK_B18    0
gen_DK_B01    2
gen_DK_B16    0
gen_DK_B19    0
loa_DK        0
dtype: int64

In [ ]:
limbo.head(25)

                     gen_DK_B18  gen_DK_B01  gen_DK_B16  gen_DK_B19  loa_DK
StartTime
2022-01-01 00:00:00        1904       511.0           1        1189    3218
2022-01-01 01:00:00        1738       519.0           1        1051    3126
2022-01-01 02:00:00        1436       558.0           1        1048    3080
2022-01-01 03:00:00        1505       468.0           1         878    3044
2022-01-01 04:00:00        1391       505.0           1         827    3130
2022-01-01 05:00:00        1407       554.0           1         617    3238
2022-01-01 06:00:00        1098       720.0           1         474    3378
2022-01-01 07:00:00         734       714.0          12         346    3537
2022-01-01 08:00:00         703       675.0          45         232    3714
2022-01-01 09:00:00         610       668.0          67         256    3818
2022-01-01 10:00:00         653       732.0          62         385    3893
2022-01-01 11:00:00         714       649.0          40         501    3943
2022-01-01 12:00:00         763       756.0          20         577    3915
2022-01-01 13:00:00         893       803.0           3         799    3988
2022-01-01 14:00:00        1034       851.0           1        1314    4213
2022-01-01 15:00:00        1102       875.0           1        1793    4473
2022-01-01 16:00:00        1415       850.0           1        2073    4407
2022-01-01 17:00:00        1748       838.0           1        2205    4133
2022-01-01 18:00:00        1962       693.0           1        2396    3970
2022-01-01 19:00:00        2075       545.0           1        2476    3821
2022-01-01 20:00:00        2048       472.0           1        2371    3619
2022-01-01 21:00:00        2056       415.0           1        2275    3462
2022-01-01 22:00:00        1950       365.0           1        1762    3351
2022-01-01 23:00:00        1838       361.0           1        1760    3173
2022-01-02 00:00:00        1861       353.0           1        1744    3128

In [51]:
limbo['prod_DK'] = limbo.filter(regex='gen').sum(axis=1)
limbo['surplus_DK'] = limbo['prod_DK'] - limbo['loa_DK']
limbo.tail(25)

,gen_DK_B18,gen_DK_B01,gen_DK_B16,gen_DK_B19,loa_DK,prod_DK,surplus_DK
StartTime,,,,,,,
2022-12-30 22:00:00,1574,235.0,0,3528,3523,5337.0,1814.0
2022-12-30 23:00:00,1168,227.0,0,2897,3408,4292.0,884.0
2022-12-31 00:00:00,369,235.0,0,2949,3262,3553.0,291.0
2022-12-31 01:00:00,386,232.0,0,2845,3162,3463.0,301.0
2022-12-31 02:00:00,376,232.0,0,2740,3071,3348.0,277.0
2022-12-31 03:00:00,373,232.0,0,2673,3104,3278.0,174.0
2022-12-31 04:00:00,382,231.0,0,2518,3235,3131.0,-104.0
2022-12-31 05:00:00,375,237.0,0,2423,3419,3035.0,-384.0
2022-12-31 06:00:00,1650,241.0,1,2274,3710,4166.0,456.0
2022-12-31 07:00:00,1783,233.0,21,2142,3904,4179.0,275.0
2022-12-31 08:00:00,1707,301.0,69,1861,4026,3938.0,-88.0
2022-12-31 09:00:00,1846,305.0,93,1599,4102,3843.0,-259.0
2022-12-31 10:00:00,1972,254.0,81,1486,4130,3793.0,-337.0
2022-12-31 11:00:00,1745,234.0,58,1147,4147,3184.0,-963.0
2022-12-31 12:00:00,1366,355.0,29,933,4083,2683.0,-1400.0
2022-12-31 13:00:00,1004,393.0,7,877,4105,2281.0,-1824.0
2022-12-31 14:00:00,951,441.0,0,891,4293,2283.0,-2010.0
2022-12-31 15:00:00,931,542.0,0,832,4398,2305.0,-2093.0
2022-12-31 16:00:00,920,453.0,0,812,4291,2185.0,-2106.0
2022-12-31 17:00:00,849,384.0,0,731,3932,1964.0,-1968.0
2022-12-31 18:00:00,778,368.0,0,605,3694,1751.0,-1943.0
2022-12-31 19:00:00,864,406.0,0,495,3713,1765.0,-1948.0
2022-12-31 20:00:00,819,323.0,0,451,3579,1593.0,-1986.0
2022-12-31 21:00:00,942,263.0,0,583,3520,1788.0,-1732.0
2022-12-31 22:00:00,1097,258.0,0,887,3440,2242.0,-1198.0

In [52]:
limbo.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 8760 entries, 2021-12-31 23:00:00 to 2022-12-31 22:00:00
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   gen_DK_B18  8760 non-null   int64
 1   gen_DK_B01  8758 non-null   float64
 2   gen_DK_B16  8760 non-null   int64
 3   gen_DK_B19  8760 non-null   int64
 4   loa_DK      8760 non-null   int64
 5   prod_DK     8760 non-null   float64
 6   surplus_DK  8760 non-null   float64
dtypes: float64(3), int64(4)
memory usage: 547.5 KB